{# Dywee\BlogBundle\Resources\View\Blog\preview.html.twig #}

{% set url %}{% if article.seoUrl != '' %}{{ article.seoUrl }}{% else %}{{ article.id }}{% endif %}{% endset %}

<div class="animated wow fadeInLeft col-md-3 col-sm-6 col-xs-12" data-wow-delay=".2s">
    <div class="media">
        <div class="date">
            <span class="day">{{ article.publicationDate|date('d') }}</span>
            <span class="month">{{ article.publicationDate|date('M') }}</span>
        </div>
        <a href="{{ path('dywee_blog_view', {data: url}) }}">
            {% if article.image is not null %}
                <img src="{{ asset(article.image.webPath) }}" alt="{{ article.title }}" class="img-responsive" style="margin-top:10px">
            {% endif %}
        </a>
    </div>
    <a href="{{ path('dywee_blog_view', {data: url}) }}">
        <h1>{{ article.title }}</h1>
    </a>
</div>