{# Dywee\BlogBundle\Resources\View\Blog\list.html.twig #}

{% if articles|length > 0 %}
    {%  for article in articles %}

        {% set url %}{% if article.seoUrl != '' %}{{ article.seoUrl }}{% endif %}{% endset %}

        <div class="article">
        <h2 class="little-title"><a href="{{ path('dywee_blog_view', {data: url}) }}">{{ article.title }}</a></h2>
        <p>{{ article.content[:400]|striptags|raw }}</p>
        <hr />
        <div class="row">
        <div class="fb-share-button col-md-6" data-href="#" data-type="button_count"></div>
        <div class="col-md-6">
            <a href="{{ path('dywee_blog_view', {data: url}) }}" class="btn btn-default pull-right">
                {{ 'Aller à l\'article'|trans }} <i class="fa fa-angle-right"></i>
            </a>
        </div>
        </div>
        </div>
    {% endfor %}
{% else %}
<p>Il n'y a pas encore d'article, restez à l'écoute</p>
{% endif %}