{# Dywee\BlogBundle\Resources\View\Blog\view.html.twig #}

{%  extends "DyweeBlogBundle::index.html.twig" %}

{% block metaTitle %} {{ article.metaTitle }} - {{ parent() }} {% endblock %}

{% block bodySubContent %}
    <h1 class="article-header">{{ article.title }}</h1>
    <div class="container">
        {% if article.tagsText != '' %}
            {% for tag in article.tags %}
                <a href="#"><i class="fa fa-tag"></i> {{ tag.name }}</a>
            {% endfor %}
            <p>{{ article.tagsText }}</p>
        {% endif %}
        <p>{{ article.content|raw }}</p>
        <div class="spacer"></div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p><a href="{{ path('dywee_blog_index') }}" class="btn btn-default"><i class="fa fa-angle-left"></i> {{ 'Retour au blog'|trans }}</a></p>
            </div>
            <div class="col-md-4">
                {% include('DyweeNewsletterBundle:Newsletter:userForm.html.twig') %}
            </div>
            <div class="col-md-4">
                <div class="fb-share-button" data-href="#" data-type="button_count"></div>
            </div>
        </div>
    </div>
{% endblock %}